<?xml version='1.0' encoding='utf-8'?>
<widget
  id="com.Squatkong618.DrakeEquationCalculator"
  version="1.4.2"
  xmlns="http://www.w3.org/ns/widgets"
  xmlns:cdv="http://cordova.apache.org/ns/1.0"
>
  <name>Drake Equation Calculator</name>
  <description>Drake Equation Calculator</description>
  <author>Squatkomg</author>
  <content src="index.html" />
  <allow-intent href="http://*/*" />
  <allow-intent href="https://*/*" />
  
 <platform name="android">
  <icon background="res/icon/mipmap-mdpi/ic_launcher_background.png" density="mdpi" foreground="res/icon/mipmap-mdpi/ic_launcher_foreground.png" src="res/icon/mipmap-mdpi/ic_launcher.png" />
  <icon background="res/icon/mipmap-hdpi/ic_launcher_background.png" density="hdpi" foreground="res/icon/mipmap-hdpi/ic_launcher_foreground.png" src="res/icon/mipmap-hdpi/ic_launcher.png" />
  <icon background="res/icon/mipmap-xhdpi/ic_launcher_background.png" density="xhdpi" foreground="res/icon/mipmap-xhdpi/ic_launcher_foreground.png" src="res/icon/mipmap-xhdpi/ic_launcher.png" />
  <icon background="res/icon/mipmap-xxhdpi/ic_launcher_background.png" density="xxhdpi" foreground="res/icon/mipmap-xxhdpi/ic_launcher_foreground.png" src="res/icon/mipmap-xxhdpi/ic_launcher.png" />
  <icon background="res/icon/mipmap-xxxhdpi/ic_launcher_background.png" density="xxxhdpi" foreground="res/icon/mipmap-xxxhdpi/ic_launcher_foreground.png" src="res/icon/mipmap-xxxhdpi/ic_launcher.png" />
 
  <preference name="AndroidWindowSplashScreenBackground" value="#ffffff" />
  <preference name="AndroidWindowSplashScreenAnimatedIcon" value="res/icon/SplashScreen~light.png" />
 </platform>

</widget>
