body {
  background-color: white;
  color: black;
}
.dark-mode {
  background-color: black;
  color: white;
}
.card-body {
  background-color: white;
  color: black;
}

input[type="number"] {
  height:35px;
  width:100%;
  border-radius: 12px;
}

@media (min-width: 600px) {
  input[type="text"] {
    width: 50%;
  }
}

input[type="range"] {
  width: 100%;
}

@media (min-width: 600px) {
  input[type="range"] {
    width: 50%;
  }
}
